<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>116266352423-aqrdfk2p8u4kb4c65bgi1ebcgbrurark.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116266352423-aqrdfk2p8u4kb4c65bgi1ebcgbrurark</string>
	<key>API_KEY</key>
	<string>AIzaSyBctRk0I6b-aJKbyqzx2I5KflSkfUB2dGY</string>
	<key>GCM_SENDER_ID</key>
	<string>116266352423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Kevin-Vu.ChatChit</string>
	<key>PROJECT_ID</key>
	<string>chat-chit-app</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-chit-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116266352423:ios:09b56baae8a6d71d</string>
	<key>DATABASE_URL</key>
	<string>https://chat-chit-app.firebaseio.com</string>
</dict>
</plist>